$dark-skyblue: #4cb6e0;

.main-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 70px;
}

.sub-container {
  display: inline-block;
  background-color: $dark-skyblue;
  padding-right: 16px;
  border-radius: 50%;
  padding-bottom: 11px;
  padding-top: 3px;
}

.dark-innerbulb {
  animation: light-reflection-anim 1.5s 2.0s;
}

.wire-and-logo-name {
  animation: wire-and-logo-name 2.0s 1.5s;
}

.light-innerbulb {
  animation: light-innerbulb-anim 1.5s 2.0s;
}

.light-reflection {
  animation: light-reflection-anim 1.5s 2.0s;
  fill: white;
}

#svg-drawing {
  display: block;
  margin: 0 auto;
  background-color: skyblue;
  border-radius: 50%;
  animation: light 2.5s, light-background 1.5s 2.0s;
}

#arrow-svg {
  position: absolute;
  top: 24px;
}

#arrow {
  &1 {
    opacity: 0.0;
    fill: $dark-skyblue;
    animation: arrow-color 2.5s;
  }
  
  &2 {
    opacity: 0.0;
    fill: $dark-skyblue;
    animation: arrow-color 2.5s;
  }
}

@keyframes arrow-color {
  0% {
    opacity: 1.0; 
    fill: #efca5c;
  }
  100% {fill: $dark-skyblue;}
}

@keyframes light {
  0% {opacity: 0.0;}
  85% {opacity: 0.0;}
  100% { opacity: 1.0;}
}

@keyframes light-innerbulb-anim {
  0% {fill: lightgray;}
  100% {fill: lightgray;}
}

@keyframes dark-innerbulb-anim {
  100% {fill: gray;}
}

@keyframes light-reflection-anim {
  0% {fill: lightgray;}
  100% {fill: lightgray;}
}

@keyframes wire-and-logo-name {
  100% {fill: gray;}
}

@keyframes light-background {
  0% {background-color: $dark-skyblue;}
  100% {background-color: $dark-skyblue;}
}